h1{
  color: chartreuse;
  border: solid blue;
}

.App{
  height: 3000px;
  position: relative;
}



.up{
  position: absolute;
  bottom: 0px;
  bottom: 20px; 
  right: 20px;  
  padding: 10px 20px; 
  background-color: #007bff; 
  cursor: pointer; 
}